example_folder_structure.md
0_Plan_de_Proyecto_Espanol.ipynb
1_Preprocesamiento_Espanol.ipynb
4a_GDP_growth_vs_emissions.ipynb
4b_Renewable_Energy_Adoption.ipynb
4c_Employment_Green_Industries.ipynb
4d_Environ_Quality_Indicators.ipynb
4e_SI_Scores_vs_Economic_Performance.ipynb
crecimiento-economico-sostenibilidad-es.ipynb